#global{
  background-color: pink;
  height: 1000px;  
}

#header{
  border: 1px;
  background: wheat;
  height: 90px;
  margin: 5px;
  padding: 5px;
} 

#contenu{
  border: 1px;
  background: wheat;
  height: 900px;
  margin: 5px;
  padding: 5px;
}
